@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    position: relative;
    margin: 0;
    background: hsl(217, 54%, 11%);
}

main > div {
    box-shadow: hsl(216, 56%, 7%) 0 7px 29px 0;
    padding: 15px;
    width: 228px;
    border-radius: 10px;
    margin: 5% auto;
    background-color: hsl(216, 50%, 16%);
}
.tittle{
    margin-top: 20px;
}
.tittle a {
    font-family: Outfit, serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
}

.cost {
    font-family: Outfit, serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 12px;
    color: hsl(178, 100%, 50%);
}

.time {
    font-family: Outfit, serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 12px;
    color: hsl(215, 51%, 70%);
}

.tittle p {
    font-family: Outfit, serif;
    font-weight: 300;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution p {
    font-family: Outfit, serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
}

.item img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.item{
    position: relative;
}
.item::before{
    position: absolute;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding-top:40%;
    height: 60%;
    background-color: hsla(178, 100%, 50%, 0.5);
    content: url("images/icon-view.svg");
    opacity: 0;
    transition: background-color 0.3s ease-in-out;
}
.item:hover::before{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.avatar {
    width: 10%;
    height: 10%;
}

.avatar > img {
    display: block;
    text-align: center;
    border-radius: 50%;
    border: white solid 1px;
    width: 100%;
    height: auto;
}

.info {
    padding-top: 10px;
    border-top: solid 1px hsl(215, 32%, 27%);
    display: flex;
    gap: 20px;
    align-items: center;
}

.info p, a {
    text-decoration: none;
    font-family: Outfit, serif;
    font-weight: 300;
    font-size: 14px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: hsl(215, 51%, 70%);
}

.info a {
    color: hsl(0, 0%, 100%);
}

a:hover {
    color: hsl(178, 100%, 50%);
}

.icon {
    width: 17px;
    height: 17px;
}

.itemIcon {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.itemsIcons {
    display: flex;
    justify-content: space-between;
}

footer {
    width: 100%;
    position: absolute;
    top: 112%;
    left: 50%;
    transform: translate(-50%, -50%);
}